<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.fc-top {
	padding: 0 0 !important;
}
._customer-footer {
	width: 100%;
	display: block;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 16px;
	background: linear-gradient( 90deg, rgb(17,87,169) 0%, rgb(1,108,193) 100%);
}
._customer-footer__wrap {
	max-width: 1227px;
	margin: auto;
}
._customer-footer__container {
	display: flex;
	justify-content: flex-start;
	position: relative;
	box-sizing: border-box;
	padding: 36px 20px 39px 20px;
}
._customer-footer__logo {
	display: block;
	margin-bottom: 25px;
}
._customer-footer__logo-block {
	margin-right: 110px;
}
._customer-footer__logo-text {
	font-size: 13px;
	color: #ffffff;
	background: #3f92db;
	display: inline-block;
	min-height: 18px;
	padding: 4px 10px;
	margin-left: 13px;
	font-weight: 300;
}
._customer-footer__cnt {
	font-size: 16px;
	color: #fff !important;
	margin: 0 0 7px 0 !important;
	text-decoration: none !important;
	font-weight: 300;
}
._customer-footer__cnt:hover {
	text-decoration: underline !important;
}
._customer-footer__cnt--bold {
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
}
._customer-footer__catalog-block {
	display: flex;
	justify-content: flex-start;
	margin: 15px 0 0 0;
}
._customer-footer__catalog-list {
	margin: 20px 80px 0 0;
}
._customer-footer__catalog-list:last-child {
	margin-right: 0;
}
._customer-footer__contact-block {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}
._customer-footer__ul {
	list-style: none !important;
	margin: 20px 0 0 0 !important;
	padding: 0;
}
._customer-footer__ul li {
	color: #ffffff;
	margin: 0 0 15px 0;
}
._customer-footer__ul ._customer-footer__address--phone {
	background: url("img/footer/phone-footer.png") 0 no-repeat;
	padding-left: 35px;
	margin-bottom: 20px;
}
._customer-footer__ul ._customer-footer__address--phone a,
._customer-footer__ul ._customer-footer__address--mail a {
	color: #ffffff;
	text-decoration: none;
}
._customer-footer__ul ._customer-footer__address--mail {
	background: url("img/footer/mail-footer.png") 0 no-repeat;
	padding-left: 35px;
}
._customer-footer__ul ._customer-footer__address--map {
	background: url("img/footer/map-footer.png") 0 5px no-repeat;
	padding-left: 35px;
	margin-bottom: 25px;
}
._customer-footer__ul ._customer-footer__address--work {
	background: url("img/footer/clock-footer.png") 0 no-repeat;
	padding-left: 35px;
}
._customer-footer__bottom {
	display: block;
	background: #3f92db;
	color: #073d74;
	font-size: 13px;
	padding: 13px 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
}
._customer-btn {
	width: 180px;
	height: 40px;
	background: #f05312;
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	margin-top: 28px;
	cursor: pointer;
	color: #ffffff;
	font-weight: 300;
	text-transform: uppercase;
	margin-left: 13px;
}
._customer-btn:hover {
	opacity: 0.9;
}
@media (max-width: 1198px) {
	._customer-footer__logo-block {
		margin-right: 65px;
	}
	._customer-footer__catalog-list {
		margin-right: 40px;
	}
}
</style>
<!--Footer-->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
	<div class="_customer-footer__wrap">
		<div class="_customer-footer__container">
			<div class="_customer-footer__catalog-block">
				<div class="_customer-footer__logo-block">
					<a class="_customer-footer__logo" href="https://test-dev-02.pulscen.ru">
						<img src="img/footer/logo-footer.png" />
					</a>
					<span class="_customer-footer__logo-text">Гидроизоляция. Теплоизоляция.</span><br />
					<span class="_customer-footer__logo-text">Опалубка и монолит. Сендвич панели.</span><br />
					<span class="_customer-footer__logo-text">Вентилируемые фасады. Кровля.</span>
					<div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-btn"
						 data-company-id="99637852" data-company-name="ТД КонТРАСТ" data-company-name-rest="ООО"
						 data-company-url="https://test-dev-02.pulscen.ru" data-ga-id="CK-1193-1"
						 data-params="{&quot;company_id&quot;:99637852}" data-statistics="1" data-type="callback">
						Обратная связь
					</div>
				</div>
				<div class="_customer-footer__catalog-list">
					<p class="_customer-footer__cnt--bold">О компании</p>
					<ul class="_customer-footer__ul">
						<li>
							<a class="_customer-footer__cnt" href="#">О компании</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товары и услуги</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Доп. страница</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">2-я доп. страница</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Контакты</a>
						</li>
					</ul>
				</div>
				<div class="_customer-footer__catalog-list">
					<p class="_customer-footer__cnt--bold">Продукция</p>
					<ul class="_customer-footer__ul">
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория 1</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория 2</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория 3</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория 4</a>
						</li>
						<li>
							<a class="_customer-footer__cnt" href="#">Товарная категория 5</a>
						</li>
					</ul>
				</div>
				<div class="_customer-footer__contact-block">
					<div class="_customer-footer__address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
						<p class="_customer-footer__cnt--bold">Контакты</p>
						<ul class="_customer-footer__ul">
							<li class="_customer-footer__address--phone">
								<a href="tel:+78612051129" itemprop="telephone" onclick="yaCounter39200700.reachGoal('megasite_footer_tel'); return true;">+7 (861) 205 11 29</a>
							</li>
							<li class="_customer-footer__address--mail">
								<a href="mailto:krasnodar@ooorps.ru" itemprop="email" onclick="yaCounter39200700.reachGoal('megasite_footer_email'); return true;">contrust93@yandex.ru</a>
							</li>
							<li class="_customer-footer__address--map">Офис и склад в
								<span itemprop="addressLocality">г. Краснодар:</span><br />
								<span itemprop="streetAddress">ул. Димитрова, 11, 3</span>
							</li>
							<li class="_customer-footer__address--work">Режим работы: пн-пт с 9:00 до 18:00</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<meta itemprop="name" content="Торговый дом КонТРАСТ"><meta content="Mo,Tu,We,Th,Fr 09:00-18:00" itemprop="openingHours">
</footer>
<div class="_customer-footer__bottom">
	<div class="_customer-footer__wrap">
		<p>&copy; Торговый дом КонТРАСТ, 2013-2018</p>
	</div>
</div>
<!--end Footer-->